body {
    background-color: #1b2838;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  

  .profile-info {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20%;
  
  }
  .profile h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile h3 {
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .profile p {
    margin-bottom: 20px;
  }
  
  .game-stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  
  }
  
  
  .stat {
    text-align: center;
    background-color: rgb(22, 101, 198);
    box-shadow: 0 0 10px rgba(0, 2, 4, 0.9);
    transition: all 0.3s ease;
    box-sizing: border-box;
    color: #fff;
    padding: 5px;
    
  }
  
  .stat h4 {
    margin: 0;
  }
  
  .stat p {
    color: #fff;
    font-size: 18px;
  }
  #settings-icon {
    padding: 5px ;
    font-size: 30px;
    color: rgb(3, 3, 3);
  }
  #settings-icon:hover {
    color: rgba(3, 3, 3, 0.558);
  }

  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
   .card table {
    border: none;
    height: 20px;
    width: 100%;
  }

  .button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .button:hover{
    background-color: #fff;
    background-color: #0000ff;
  }
  /* End */
  #table {
    min-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: -3%;
    box-shadow: 1px 1px 8px 0 grey;
    margin-top: 15px;

  }
 .bg-white {
  margin-top: -10px;
 }
 

 p.card-text{
  color: #1B2838;
 }
 @media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .img-container {
    margin-bottom: 20px;
  }

  .profile-info {
    margin-left: 0;
  }

  .settings-icon,
  .sign-out-div {
    margin-top: 10px;
  }

  .game-stats {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-body {
    margin-top: 10px;
  }

  td:first-child {
    width: 100px;
  }
}



#profileImg {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}
.profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}