body {
  background-color: #1b2838;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


#profileImg {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

#editIcon {
  position: relative;
  top: -100px;
width: 10px;
height: 10px;
cursor: pointer;
}

#editIcon i {
  font-size: 15px;
}
#imageInput {
display: none;
}

#img-button{
  margin-bottom: 20px;
  margin-left: 5px;
  background-color: rgb(3, 3, 3);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  min-width: 50px;
}
#img-button:hover{
  background-color: rgba(3, 3, 3, 0.222);

}
.profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.profile-info {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20%;

}

.name {
  margin: 0;
}

.FamilyName {
  margin: 0;
  font-size: 16px;
  color: #888;
}

#settings-icon {
  padding: 5px ;
  font-size: 30px;
  color: rgb(3, 3, 3);
}
#settings-icon:hover {
  color: rgba(3, 3, 3, 0.558);
}

.sign-out-div {
  margin-top: 20px;
}

.sign-out-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.sign-out-btn:hover {
  background-color: #994d4d;
}
#playGame {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.game-stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;

}


.stat {
  text-align: center;
  background-color: rgb(22, 101, 198);
  box-shadow: 0 0 10px rgba(0, 2, 4, 0.9);
  transition: all 0.3s ease;
  box-sizing: border-box;
  color: #fff;
  padding: 5px;
  
}

.stat h4 {
  margin: 0;
}

.recent-activity {
  margin-bottom: 20px;
}

.recent-activity h2 {
  margin: 0;
}

.activity-item {
  margin-bottom: 10px;
}

.activity-time {
  font-size: 12px;
  color: #888;
}

.activity-item p {
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.card h2 {
  margin: 0;
}

#editBtn,
.saveBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#editBtn:hover,
.saveBtn:hover,
#playGame:hover {
  background-color: #0000ff;
}
table {
  width: 100%;
}

td {
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

td:first-child {
  width: 120px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .img-container {
    margin-bottom: 20px;
  }

  .profile-info {
    margin-left: 0;
  }

  .settings-icon,
  .sign-out-div {
    margin-top: 10px;
  }

  .game-stats {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-body {
    margin-top: 10px;
  }

  td:first-child {
    width: 100px;
  }
}


